
<h1>Details of Visitors</h1>
<p>Total Guests: @TempData.Peek("TotalVisitors")</p>
<p>Total Family Members: @TempData.Peek("IsFamily")</p>
<p>Youngest Age: @TempData.Peek("MinimumAge")</p>
<p>Oldest Age: @TempData.Peek("MaximumAge")</p>
